@charset "UTF-8";
/* 지도 */
div.menu > a#d {
   background-color: rgba(128, 128, 128, 0.4);
   color:#F2A50A;
}
div.menu > a#d > li {
   color:#F2A50A;
}

div.map {
	float:left;
}

div.retrieve > span.standard,
div.retrieve > form,
div.retrieve > table.standard {
    display: inline-block;
    font-weight: bold;
    font-size:17px;
    margin-right: 15px;
}
div.retrieve > span.details,
div.retrieve > form > input.details{
	margin-right: 50px;
}
select {
    width: 100px;
    display: inline-block;
}
table.details {
    display: inline-block;
    width: auto;
    border: 1px solid #ccc;
    border-collapse: collapse;
    text-align:center;
    vertical-align: middle;
}

div.risklevel {
	float:left;
    padding:45px 20px;
}
div.risklevel > div.color > ul {
	list-style-type: circle;
	font-size : 20px;
	
}


span.red {
  background-color: red;
  color: white;
}

span.yellow {
  background-color: yellow;
  color: black;
}

span.blue {
  background-color: blue;
  color: white;
}

div.info {
  padding: 15px;
  width: 380px; /* 너비 조정 */
  height: 480px; /* 높이 조정 */
}
div.info > ul {
   list-style-type: square;
   margin-left : 20px;
   padding: 10px;
}

div.info > ul > li > span.iTitle,
div.info > ul > li > span.iBody,
div.info > ul > ol >li {
   display:inline-block;
}
div.info > ul > li > span.iTitle {
   width:80px;
   margin:10px 20px 0 0;
}
div.info > ul > li > span.iBody {
	font-weight:bold;
}
div.info > ol {
   margin: -10px 20px 0 10px;
}
div.info > ol > li {
	padding-bottom:10px;
}


table.risk {
   display:inline-block;
   vertical-align: middle;
}

a.port > input{
	width:150px;
	height:150px;
}

/* 버튼 */
div.btnGroup{
	float:left;
	margin-top:10px;
	margin-left:555px;
	
}

div.btnGroup > a > input{
    width:120px;
    height:30px;
    border-radius:20px;
    font-size :15px;
    border:none;
    background-color: #f7f7f7;
    color:rgb(128, 128, 128);
}

div.btnGroup > a > input:hover{
    cursor:pointer;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}

div.btnGroup > a > input.click{
    color:#fff;
    background: linear-gradient(45deg, rgba(78, 197, 217, 1) 0%, rgba(38, 59, 151, 1) 100%);
}