@charset "UTF-8";

div.menu > a#r {
	background-color: rgba(128, 128, 128, 0.4);
	color:#F2A50A;
}

div.menu > a#r > li {
	color:#F2A50A;
}

div.contents > div > div > ul > li > a {
    text-decoration-line:none; 
    color:black;
    font-weight: normal;
}
   
div.contents > div > div > ul > li > a:hover{
    color:blue;
    font-weight: normal;
}

div.refer > div {
	padding:7px;
}

h5 {
	font-weight:bold;
}